<div class="panel panel-info">
    <div class="panel-heading">About</div>
    <div class="panel-body">
        <ul>
            <li>Version: 0.0.2 BETA</li>
            <li>TPlant is software for blah blah blah.</li>
            <li>TPlant requires a modern browser with javascript and cookies enabled.</li>
            <li><a href="http://uagc.arl.arizona.edu/submit-samples/slm">Tutorials and more information</a> on using SLM</li>
            <li>TPlant is brought to you by the good folks at the <a href="http://uagc.arl.arizona.edu">University of Arizona's Tumamoc Hill</a>.</li>
            <li>TPlant was developed by <a href="http://biomap.io">BioMap.io</a>, a non-profit organization dedicated to creating software tools for biologists.</li>
        </ul>
    </div>
</div>