
<div class="panel panel-default">
    <div class="panel-heading">Welcome to New Ecosystems</div>
    <div class="panel-body">
        <p>New Ecosystems is a state of the art application from the fine folks at <a href="http://www.tumamoc.org/">University of Arizona Tumamoc Hill</a></p>
        <ul class="icons-ul">
            <li><i class="icon-li icon-circle"></i>All users must be <a href="/users/signup">registered</a> before they can use this application.</li>
            <li><i class="icon-li icon-circle"></i>SLM requires a modern browser with javascript and cookies enabled.</li>
            <li><i class="icon-li icon-circle"></i><a href="http://uagc.arl.arizona.edu/slm-quick-start">Quick Start Guide</a></li>
            <li><i class="icon-li icon-circle"></i><a href="http://uagc.arl.arizona.edu/submit-samples/slm">Tutorials and more information</a>.</li>
            <li><i class="icon-li icon-circle"></i><a href="http://uagc.arl.arizona.edu/contact">Contact us</a>.</li>
        </ul>
    </div>
</div>




