{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}
{% load bootstrap3 %}

{% block head_title %}{% trans "Account setup" %}{% endblock %}

{% block content_title %}<h2 class="content-title">Account &raquo; {{ account.user.username }}</h2>{% endblock %}
{% block panel_list %}
    {% comment %}Dirty hack. Will use django-guardian in the future.{% endcomment %}
    {% if user.username == profile.user.username %}
    <li class="list-group-item"><a href="{% url 'userena_profile_detail' user.username %}">{% trans "View profile" %}</a></li>
    <li class="list-group-item"><i class="glyphicon glyphicon-chevron-right"></i>&nbsp;&nbsp;<a href="{% url 'userena_profile_edit' user.username %}">{% trans "Edit details" %}</a></li>
    <li class="list-group-item"><a href="{% url 'userena_password_change' user.username %}">{% trans "Change password" %}</a></li>
    <li class="list-group-item"><a href="{% url 'userena_email_change' user.username %}">{% trans "Change email" %}</a></li>
    {% endif %}
{% endblock %}

{% block content %}
   <form action="" enctype="multipart/form-data" method="post">
       {% csrf_token %}
        <fieldset>
        <legend>{% trans "Edit Profile" %}</legend>
        {{ form|bootstrap3 }}
        </fieldset>
        <input class="btn" type="submit" value="{% trans "Save changes" %}">
    </form>
{% endblock %}
